<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {#{% render path('file_index') %}#}
                    {% block file %}
                        {#{% include 'TikaBundle:UpFile:index.html.twig' with {'files':'files'}%}#}
                        {{ render(controller('TikaBundle:UpFile:index')) }}
                    {% endblock %}
                </div>
                <div class="col-md-3">
                    {% block add_file %}
                        {#{{ render(controller('TikaBundle:UpFile:new')) }}#}
                        {% include 'TikaBundle:UpFile:new.html.twig' %}
                    {% endblock %}
                </div>
                <div class="col-md-5">
                    {% block meta_data %}
                        {#{% include 'TikaBundle:UpFile:show.html.twig' %}#}
                        {#{%  render path('file_show') %}#}
                        {{ render(controller('TikaBundle:UpFile:show', {'id': file.id})) }}
                    {% endblock %}
                </div>
            </div>
        </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
    </body>
</html>
